nix
examples
scripts
.github
.envrc
flake.lock
flake.nix
Taskfile.yaml
README.MD

**/node_modules/**
.git
.idea
.direnv
.DS_Store
.gitignore
.pre-commit-config.yaml
**/.idea/
**/bin/
**/obj/
**/node_modules/
**/env.

